In [1]:
import pandas as pd

### Analysing the output of:

`steadiercom *.xml -c abundance.tsv -m MILK --mediadb milk_composition.tsv --growth 0.05 --unlimited unlimited.txt --sample 100` 

- growth rate grossly estimated from figure 1 (assuming 25-fold total biomass increase in 90 hours)
- relative abundances also grossly taken from figure 1 (500:250:200:50)

In [31]:
df = pd.read_csv('output.tsv', sep='\t')

In [32]:
df.query('donor == "L_kefiranofaciens" and receiver == "L_mesenteroides" and frequency > 0.1')

Empty DataFrame
Columns: [donor, receiver, compound, mass_rate, rate, frequency, community, medium]
Index: []

In [33]:
df.query('receiver == "L_kefiranofaciens" and donor == "L_mesenteroides" and frequency > 0.1' )

,donor,receiver,compound,mass_rate,rate,frequency,community,medium
14,L_mesenteroides,L_kefiranofaciens,M_acald_e,0.018770,0.426092,0.35,kefir,MILK
121,L_mesenteroides,L_kefiranofaciens,M_h2s_e,0.000210,0.006170,1.00,kefir,MILK
152,L_mesenteroides,L_kefiranofaciens,M_nh4_e,0.000039,0.002174,0.22,kefir,MILK

In [34]:
df.query('donor == "L_lactis" and receiver == "A_fabarum" and frequency > 0.1')

,donor,receiver,compound,mass_rate,rate,frequency,community,medium
30,L_lactis,A_fabarum,M_4abut_e,0.004752,0.046083,0.33,kefir,MILK
48,L_lactis,A_fabarum,M_glyc_e,0.001766,0.019172,1.00,kefir,MILK
131,L_lactis,A_fabarum,M_arg__L_e,0.000127,0.000722,0.79,kefir,MILK
138,L_lactis,A_fabarum,M_anhgm_e,0.000109,0.000228,0.12,kefir,MILK

In [35]:
df.query('donor == "A_fabarum" and receiver == "L_lactis" and frequency > 0.1')

Empty DataFrame
Columns: [donor, receiver, compound, mass_rate, rate, frequency, community, medium]
Index: []

In [36]:
df.query("donor == 'environment'").groupby(['compound']).agg({'rate': sum}).sort_values('rate', ascending=False)

                 rate
compound
M_o2_e       1.008831
M_lcts_e     0.838712
M_ser__L_e   0.132322
M_orn_e      0.108997
M_thr__L_e   0.101928
M_gly_e      0.093160
M_glu__L_e   0.078679
M_asp__L_e   0.064045
M_val__L_e   0.052263
M_gln__L_e   0.038796
M_leu__L_e   0.032684
M_asn__L_e   0.030955
M_ile__L_e   0.028153
M_ala__L_e   0.025391
M_lys__L_e   0.016745
M_pro__L_e   0.015232
M_ura_e      0.010992
M_gua_e      0.010504
M_phe__L_e   0.009265
M_ade_e      0.007659
M_tyr__L_e   0.006896
M_xan_e      0.006525
M_his__L_e   0.004737
M_trp__L_e   0.002842
M_ins_e      0.002242
M_thymd_e    0.000262
M_fol_e      0.000033
M_pnto__R_e  0.000027
M_nac_e      0.000023
M_ribflv_e   0.000021
M_thm_e      0.000011

In [10]:
from pyvis.network import Network

net = Network(directed=True, notebook=True, height='500px', width='800px')

selected = df.query("frequency > 0.1 and mass_rate > 0.001 and donor != 'environment' and receiver != 'environment'")

species = set(selected['donor']) | set(selected['receiver'])
net.add_nodes(species)

for cpd in set(selected['compound']):
    net.add_node(cpd, shape='box')

for _, row in selected.iterrows():
    net.add_edge(row['donor'], row['compound'], value=row['mass_rate'])
    net.add_edge(row['compound'], row['receiver'], value=row['mass_rate'])

net.show('network.html')

Warning: When  cdn_resources is 'local' jupyter notebook has issues displaying graphics on chrome/safari. Use cdn_resources='in_line' or cdn_resources='remote' if you have issues viewing graphics in a notebook.
network.html

### SMETANA

In [8]:
df2 = pd.read_csv('detailed.tsv', sep='\t')

In [9]:
df2.query('donor == "L_kefiranofaciens" and receiver == "L_mesenteroides" and smetana > 0.1')

,community,medium,receiver,donor,compound,scs,mus,mps,smetana
35,kefir,MILK,L_mesenteroides,L_kefiranofaciens,M_acald_e,NaN,0.17,1,0.17
38,kefir,MILK,L_mesenteroides,L_kefiranofaciens,M_glc__D_e,NaN,0.45,1,0.45
39,kefir,MILK,L_mesenteroides,L_kefiranofaciens,M_h2s_e,NaN,0.82,1,0.82

In [10]:
df2.query('receiver == "L_kefiranofaciens" and donor == "L_mesenteroides" and smetana > 0.1' )

,community,medium,receiver,donor,compound,scs,mus,mps,smetana
8,kefir,MILK,L_kefiranofaciens,L_mesenteroides,M_acald_e,NaN,0.29,1,0.29
9,kefir,MILK,L_kefiranofaciens,L_mesenteroides,M_h2s_e,NaN,0.88,1,0.88

In [11]:
df2.query('donor == "L_lactis" and receiver == "A_fabarum" and smetana > 0.1')

   community medium   receiver     donor   compound  scs   mus  mps  smetana
61     kefir   MILK  A_fabarum  L_lactis  M_4abut_e  NaN  0.18    1     0.18
62     kefir   MILK  A_fabarum  L_lactis  M_acald_e  NaN  0.18    1     0.18
64     kefir   MILK  A_fabarum  L_lactis   M_glyc_e  NaN  0.18    1     0.18
65     kefir   MILK  A_fabarum  L_lactis    M_h2s_e  NaN  0.75    1     0.75

In [12]:
from pyvis.network import Network

net = Network(directed=True, notebook=True, height='500px', width='800px')

selected = df2.query("smetana > 0.1")

species = set(selected['donor']) | set(selected['receiver'])
net.add_nodes(species)

for cpd in set(selected['compound']):
    net.add_node(cpd, shape='box')

for _, row in selected.iterrows():
    net.add_edge(row['donor'], row['compound'], value=row['smetana'])
    net.add_edge(row['compound'], row['receiver'], value=row['smetana'])

net.show('network2.html')

Warning: When  cdn_resources is 'local' jupyter notebook has issues displaying graphics on chrome/safari. Use cdn_resources='in_line' or cdn_resources='remote' if you have issues viewing graphics in a notebook.
network2.html